nav {
    padding:16px;
    border: 1px solid black;
    background-color:palegreen;
}


img {
    height: 200px;
}


body {
    padding: 0px;
    margin: 0px;
}

main {
    padding: 16px;
}

h1 {
    color: forestgreen;
}

a {
    text-decoration: none;
    color: rgb(186, 126, 241);
}

a:hover {
    color: rgb(80, 35, 228);
}
/* this didn't work- try again by using class
selector on the divs within the main instead

/* .diff-main { */
    /* display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: auto; */
    /* display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: auto;
} */

.blocks {
    display: grid;
    grid-template-columns: 400px 400px 400px  400px;
    /* grid-template-rows: 2; */
}


footer {
    padding: 24px 15px;
    background-color: lightcyan;
}

tr:nth-child(even) {
    background-color: rgb(220, 220, 220);
}
